apiVersion: v1
kind: Service
metadata:
  name: leave-service
  labels:
    app: leave-service
spec:
  selector:
    app: leave-service
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
  type: ClusterIP
  sessionAffinity: None