apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-config
  namespace: default
data:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/notificationdb"
  SPRING_DATASOURCE_USERNAME: "postgres"
  SPRING_DATASOURCE_PASSWORD: "Sparkle.2002@@"
  SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
  SPRING_RABBITMQ_HOST: "rabbitmq"
  SPRING_RABBITMQ_PORT: "5672"